---
layout: default
permalink: blog
---

<section>
  <h1>Blog</h1>

  <p>
    Below is a currated collection of thoughts, references, and recommendations that I bump into while surfing the web. Some are external, others are my own; each is subject to its own respective copyrights. I try to post something as time allows.
  </p>
</section>

<section>

  {% for post in site.posts %}
    <div class="media t-hackcss-media">

      <div class="media-body">
        <div class="media-heading">
          <span>{{ post.date | date_to_string }} &vert; {{ post.categories | join: ', ' }} &raquo;
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% endif %}
          </span>
        </div>
        <div class="media-content">
          {{ post.short_description }}
        </div>
      </div>
      
    </div>
{% endfor %}

</section>

