---
layout: default
permalink: contact
---

<section>

  <h1>Contact</h1>

  <p>You can find, contact, or connect with me on the following platforms:</p>

<section>

  <div class="grid t-hackcss-cards">

    {% if site.social %}
      {% for social in site.social %}
      <div class="cell -6of12 t-hackcss-cards-cell">
        <div class="card">
          <header class="card-header">
            <a href="{{ social.link }}" title="{{ social.service }}" target="_blank">
              {{ social.service }}
            </a>
          </header>
          <div class="card-content" style="display: flex; justify-content: center; align-items: center; height: 150px;">
            <div class="inner">
              {% assign template = "icon-" | append: social.service | append: ".html" %}
              <i class="t-hackcss-icon" aria-label="{{ social.service }} icon" style="font-size: 48px;">
                {% include {{ template }} %}
              </i>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

  </div>

</section>


  <p>Alternatively, you can also email me directly at <a target="_blank" href="mailto:tom.barbereau@tno.nl">tom.barbereau@tno.nl</a> or chat with me on <a target="_blank" href="https://t.me/tombarbereau">Telegram</a>.</p>
  



