<footer class="t-hackcss-footer">
  <hr>

  {% if page.footnotes %}
  <div class="footnotes">
    {{ page.footnotes | markdownify }}
  </div>
  {% endif %}

  <hr>
  
  <!-- Second Line: Social Media Links -->
  <div class="footer-second-line">
    <div class="social-links">
      {% if site.social %}
        {% for social in site.social %}
          {% assign template = "icon-" | append: social.service | append: ".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon" aria-label="{{ social.service }} icon">{% include {{ template }} %}</i> &nbsp
            <a href="{{ social.link }}">{{ social.username }}</a>
          </span>
        {% endfor %}
      {% endif %}
    </div>
  </div>

</footer>
