---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">Tag: {{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <ul>
      {% for post in site.categories[page.title] %}
        <li>
          <a href="{{ post.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ post.title }}</span>
          </a>
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
          </time>
          {% if post.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              by <span itemprop="name">{{ post.author }}</span>
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

</article>
