---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <ul>
      {% assign category_posts = site.categories[page.title] %}
      {% if category_posts.size > 0 %}
        {% for post in category_posts %}
          <li>
            <a href="{{ post.url | relative_url }}" itemprop="url">
              <span itemprop="name">{{ post.title }}</span>
            </a>
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ post.date | date: "%b %-d, %Y" }}
            </time>
          </li>
        {% endfor %}
      {% else %}
        <p>No posts available in this category.</p>
      {% endif %}
    </ul>
  </div>
</article>
