---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">In #{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% assign category_posts = site.categories[page.title] %}
    {% if category_posts.size > 0 %}
      {% for post in category_posts %}
        <div class="media t-hackcss-media">
          <div class="media-body">
            <div class="media-heading">
              <span>{{ post.date | date_to_string }} &raquo;
                {% if post.external_url %}
                  <a href="{{ post.external_url }}" target="_blank" title="{{ post.title }}">
                    {{ post.title }}
                  </a>
                {% else %}
                  <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                    {{ post.title }}
                  </a>
                {% endif %}
              </span>
            </div>
            <div class="media-content">
              {{ post.short_description | default: post.excerpt }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No posts available in this category.</p>
    {% endif %}
  </div>
</article>
